body{
    font-family: hack;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#main-container{
    background: #190482;
    color: white;
}

#navbar{
    background-color: #4d4fc9fd;
    font-weight: bold;

}



#home{
    height:100vh; 
}

#content {
    font-size: 1.6rem;
}

#image {
    /* background-color: #7752fe69; */
    /* background-image: url("/image.png");
    background-size: cover; */
    /* width: 35%; */
    aspect-ratio: 1/1;
    /* border-radius: 50%; */
}

#hero-img {
    border-radius: 50%;
    background-color: #7752fe69;
    width: 100%;
    aspect-ratio: 1/1;
    /* width: 200px;
    aspect-ratio: 1/1; */
}



#about-me{
    height:100vh;
}

#about-image-section {

}

#about-img {
    width: 100%;
    border-radius: 10px;
}

#projects{
    height: 100vh;
}

@media screen and (max-width: 1400px) {
    
    #projects {
        height: auto;
    }
}

.card {
    background-color: #7752FE;
}

.btn{
    background-color: #C2D9FF;
    color:black;
    border: none;
    box-shadow: 0px 0px 10px 0px #C2D9FF;
}

#contact{
    height:100vh;
}


